.fon{
    background: darkcyan;
}
.p-3{
    background:#333238;
}
.Container{
    background: darkcyan;
}
.color1 {
    color: white;
}
.color2{
     color:white;
 }
.color3{
    background: darkcyan;
}
.m-auto{
    color:white;
}
.color4{
    color:white;
}
.color5{
    color:white;
}
.color6{
    color:white;
}